## Titanic Survivors Prediction

In [1]:
import pandas as pd

In [416]:
data=pd.read_csv(r'C:\Users\feche\Documents\Curso Python\datasets\Kaggle Titanic\train.csv')

In [368]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [261]:
data.shape

(891, 12)

In [276]:
data.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [262]:
data.columns.values

array(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'], dtype=object)

In [263]:
print(pd.isnull(data["PassengerId"]).values.ravel().sum())
print(pd.isnull(data["Survived"]).values.ravel().sum())
print(pd.isnull(data["Pclass"]).values.ravel().sum())
print(pd.isnull(data["Sex"]).values.ravel().sum())
print(pd.isnull(data["Age"]).values.ravel().sum())
print(pd.isnull(data["SibSp"]).values.ravel().sum())
print(pd.isnull(data["Parch"]).values.ravel().sum())
print(pd.isnull(data["Fare"]).values.ravel().sum())
print(pd.isnull(data["Embarked"]).values.ravel().sum())

0
0
0
0
177
0
0
0
2

In [264]:
print(pd.isnull(data["Age"]).values.ravel().sum())
print(pd.isnull(data["Embarked"]).values.ravel().sum())

177
2

In [265]:
print(pd.isna(data["PassengerId"]).values.ravel().sum())
print(pd.isna(data["Survived"]).values.ravel().sum())
print(pd.isna(data["Pclass"]).values.ravel().sum())
print(pd.isna(data["Sex"]).values.ravel().sum())
print(pd.isna(data["Age"]).values.ravel().sum())
print(pd.isna(data["SibSp"]).values.ravel().sum())
print(pd.isna(data["Parch"]).values.ravel().sum())
print(pd.isna(data["Fare"]).values.ravel().sum())
print(pd.isna(data["Embarked"]).values.ravel().sum())

0
0
0
0
177
0
0
0
2

In [266]:
data2=data[['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp',
       'Parch', 'Fare', 'Embarked']]

In [267]:
data2["Age"]=data2["Age"].fillna(data2["Age"].mean())
data2["Embarked"]=data2["Embarked"].fillna("S")

C:\Users\feche\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\feche\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [268]:
print(pd.isnull(data2["Age"]).values.ravel().sum())
print(pd.isna(data2["Embarked"]).values.ravel().sum())

0
0

In [269]:
data2["Embarked"].unique()

array(['S', 'C', 'Q'], dtype=object)

In [271]:
dummy_sex=pd.get_dummies(data2["Sex"],prefix="Sex")
dummy_embarked=pd.get_dummies(data2["Embarked"],prefix="Embarked")

In [272]:
data2=data2.drop(["Sex"],axis=1)
data2=data2.drop(["Embarked"],axis=1)

In [273]:
data2=pd.concat([data2,dummy_sex,dummy_embarked],axis=1)

In [274]:
data2.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,22.0,1,0,7.2500,0,1,0,0,1
1,2,1,1,38.0,1,0,71.2833,1,0,1,0,0
2,3,1,3,26.0,0,0,7.9250,1,0,0,0,1
3,4,1,1,35.0,1,0,53.1000,1,0,0,0,1
4,5,0,3,35.0,0,0,8.0500,0,1,0,0,1

## Model Input var selection

In [64]:
from sklearn import datasets
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

In [65]:
data2.columns.values

array(['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch',
       'Fare', 'Sex_female', 'Sex_male', 'Embarked_C', 'Embarked_Q',
       'Embarked_S'], dtype=object)

In [115]:
X=data2[['Pclass', 'Age', 'SibSp', 'Parch',
       'Fare', 'Sex_female', 'Sex_male', 'Embarked_C', 'Embarked_Q',
       'Embarked_S']]
Y=data2["Survived"]

In [67]:
n=3

In [68]:
lr=LogisticRegression()

In [69]:
rfe=RFE(lr,n)
rfe=rfe.fit(X,Y)

C:\Users\feche\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
C:\Users\feche\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [70]:
print(rfe.support_)

[ True False False False False  True  True False False False]

In [71]:
print(rfe.ranking_)

[1 7 3 5 8 1 1 4 6 2]

## Logistic Regression with Sklearn

In [72]:
from sklearn import linear_model

In [73]:
X=data2[['Pclass', 'Age', 'SibSp', 'Parch',
       'Fare', 'Sex_female', 'Sex_male', 'Embarked_C', 'Embarked_Q',
       'Embarked_S']]
Y=data2["Survived"]

In [74]:
logit_model=linear_model.LogisticRegression()

In [75]:
logit_model.fit(X,Y)

C:\Users\feche\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [76]:
logit_model.score(X,Y)

0.8024691358024691

### Intento modelo con datos normalizados

In [77]:
data2_norm=(data2-data2.min())/(data2.max()-data2.min())
data2_norm.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,0.000000,0.0,1.0,0.271174,0.125,0.0,0.014151,0.0,1.0,0.0,0.0,1.0
1,0.001124,1.0,0.0,0.472229,0.125,0.0,0.139136,1.0,0.0,1.0,0.0,0.0
2,0.002247,1.0,1.0,0.321438,0.000,0.0,0.015469,1.0,0.0,0.0,0.0,1.0
3,0.003371,1.0,0.0,0.434531,0.125,0.0,0.103644,1.0,0.0,0.0,0.0,1.0
4,0.004494,0.0,1.0,0.434531,0.000,0.0,0.015713,0.0,1.0,0.0,0.0,1.0

In [78]:
X_norm=data2_norm[['Pclass', 'Age', 'SibSp', 'Parch',
       'Fare', 'Sex_female', 'Sex_male', 'Embarked_C', 'Embarked_Q',
       'Embarked_S']]

In [79]:
logit_model2=linear_model.LogisticRegression()

In [80]:
logit_model2.fit(X_norm,Y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [81]:
logit_model2.score(X_norm,Y)

0.8013468013468014

### Predictions

In [82]:
data_test=pd.read_csv(r'C:\Users\feche\Documents\Curso Python\datasets\Kaggle Titanic\test.csv')

In [83]:
data_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [84]:
data2_test=data_test[['PassengerId', 'Pclass', 'Sex', 'Age', 'SibSp',
       'Parch', 'Fare', 'Embarked']]
data2_test.shape

(418, 8)

In [85]:
print(pd.isnull(data2_test["Pclass"]).values.ravel().sum())
print(pd.isnull(data2_test["Sex"]).values.ravel().sum())
print(pd.isnull(data2_test["Age"]).values.ravel().sum())
print(pd.isnull(data2_test["SibSp"]).values.ravel().sum())
print(pd.isnull(data2_test["Parch"]).values.ravel().sum())
print(pd.isnull(data2_test["Fare"]).values.ravel().sum())
print(pd.isnull(data2_test["Embarked"]).values.ravel().sum())

0
0
86
0
0
1
0

In [86]:
data2_test["Age"]=data2_test["Age"].fillna(data2_test["Age"].mean())
data2_test["Fare"]=data2_test["Fare"].fillna(data2_test["Fare"].mean())
print(pd.isnull(data2_test["Age"]).values.ravel().sum())
print(pd.isnull(data2_test["Fare"]).values.ravel().sum())

0
0

C:\Users\feche\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\feche\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [87]:
dummy_sex=pd.get_dummies(data2_test["Sex"],prefix="Sex")
dummy_embarked=pd.get_dummies(data2_test["Embarked"],prefix="Embarked")
data2_test=data2_test.drop(["Sex"],axis=1)
data2_test=data2_test.drop(["Embarked"],axis=1)
data2_test=pd.concat([data2_test,dummy_sex,dummy_embarked],axis=1)
data2_test.head()
X_test=data2_test[['Pclass', 'Age', 'SibSp', 'Parch',
       'Fare', 'Sex_female', 'Sex_male', 'Embarked_C', 'Embarked_Q',
       'Embarked_S']]

In [88]:
data2_test_norm=(data2_test-data2_test.min())/(data2_test.max()-data2_test.min())
data2_test_norm.head()

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,0.000000,1.0,0.452723,0.000,0.000000,0.015282,0.0,1.0,0.0,1.0,0.0
1,0.002398,1.0,0.617566,0.125,0.000000,0.013663,1.0,0.0,0.0,0.0,1.0
2,0.004796,0.5,0.815377,0.000,0.000000,0.018909,0.0,1.0,0.0,1.0,0.0
3,0.007194,1.0,0.353818,0.000,0.000000,0.016908,0.0,1.0,0.0,0.0,1.0
4,0.009592,1.0,0.287881,0.125,0.111111,0.023984,1.0,0.0,0.0,0.0,1.0

In [89]:
X_test_norm=data2_test_norm[['Pclass', 'Age', 'SibSp', 'Parch',
       'Fare', 'Sex_female', 'Sex_male', 'Embarked_C', 'Embarked_Q',
       'Embarked_S']]

In [90]:
data_test_LR=data_test
data_test_LR['Survived']=logit_model2.predict(X_test_norm)

In [91]:
Predictions=data_test_LR[["PassengerId","Survived"]]

In [92]:
Predictions.to_csv(r'C:\Users\feche\Documents\Curso Python\datasets\Kaggle Titanic\predictions_LR.csv',index=False)

## Regresion Lineal

In [108]:
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
from sklearn.svm import SVR
import pandas as pd
import numpy as np

In [109]:
estimator=SVR(kernel="linear")
selector=RFE(estimator,7,step=1)
selector=selector.fit(X,Y)

In [110]:
selector.support_

array([ True,  True,  True,  True,  True,  True,  True])

In [111]:
selector.ranking_

array([1, 1, 1, 1, 1, 1, 1])

In [112]:
X_linear=data2[['Pclass', 'Age', 'SibSp', 'Parch',
       'Fare', 'Sex_female', 'Sex_male']]

In [113]:
lm=LinearRegression()
lm.fit(X_linear,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [114]:
lm.score(X_linear,Y)

0.3949290844484468

## Support Vector Machines

In [100]:
from sklearn.svm import SVC
from sklearn import svm, datasets

In [101]:
model=svm.SVC(kernel="linear",C=0.01)
model.fit(X,Y)

SVC(C=0.01, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [102]:
model.score(X,Y)

0.7890011223344556

### RBF SVM

In [177]:
model2=svm.SVC(kernel="rbf",C=100000,gamma=10000)
model2.fit(X,Y)

SVC(C=100000, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=10000, kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [178]:
model2.score(X,Y)
#Aunque el resutado es prometedor, parece tener overfitting

0.9820426487093153

In [179]:
SVM_Predictions=model2.predict(X_test)

In [180]:
data_test_SVM_rbf=data_test
data_test_SVM_rbf["Survived"]=SVM_Predictions

In [181]:
Predictions_SVM=data_test_SVM_rbf[["PassengerId","Survived"]]

In [175]:
Predictions_SVM.to_csv(r'C:\Users\feche\Documents\Curso Python\datasets\Kaggle Titanic\predictions_SVM_RBF.csv',index=False)

### Sigmoid SVM

In [141]:
model3=svm.SVC(kernel="sigmoid",C=100000)
model3.fit(X_norm,Y)

SVC(C=100000, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='sigmoid',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [142]:
model3.score(X_norm,Y)

0.6734006734006734

### Poly SVM

In [190]:
model4=svm.SVC(kernel="poly",C=1000)
model4.fit(X_norm,Y)

SVC(C=1000, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='poly',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [191]:
model4.score(X_norm,Y)

0.8518518518518519

In [185]:
SVM_Predictions_poly=model4.predict(X_test_norm)
data_test_SVM_poly=data_test
data_test_SVM_poly["Survived"]=SVM_Predictions_poly
Predictions_SVM_poly=data_test_SVM_poly[["PassengerId","Survived"]]
Predictions_SVM_poly.to_csv(r'C:\Users\feche\Documents\Curso Python\datasets\Kaggle Titanic\predictions_SVM_poly.csv',index=False)

## Random Forest

In [193]:
from sklearn.ensemble import RandomForestClassifier

In [215]:
forest=RandomForestClassifier(n_jobs=2, oob_score=True, n_estimators=100,random_state=506)
forest.fit(X,Y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=2,
                       oob_score=True, random_state=506, verbose=0,
                       warm_start=False)

In [216]:
forest.oob_decision_function_

array([[0.71666667, 0.28333333],
       [0.        , 1.        ],
       [0.36842105, 0.63157895],
       ...,
       [0.61363636, 0.38636364],
       [0.23684211, 0.76315789],
       [0.98489583, 0.01510417]])

In [218]:
forest.oob_score_

0.819304152637486

In [223]:
random_forest_pred=forest.predict(X_test)

In [224]:
data_test_random_forest=data_test
data_test_random_forest["Survived"]=random_forest_pred
Predictions_random_forest=data_test_random_forest[["PassengerId","Survived"]]
Predictions_random_forest.to_csv(r'C:\Users\feche\Documents\Curso Python\datasets\Kaggle Titanic\predictions_random_forest.csv',index=False)

In [227]:
Predictions_random_forest.groupby("Survived").count()

          PassengerId
Survived
0                 275
1                 143

## Decision Tree

In [228]:
from sklearn.tree import DecisionTreeClassifier

In [248]:
tree=DecisionTreeClassifier(criterion="entropy", min_samples_split=10,random_state=506)
tree.fit(X,Y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=10,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=506, splitter='best')

In [249]:
tree.score(X,Y)

0.9281705948372615

In [250]:
Prediction_tree=tree.predict(X_test)

In [251]:
data_test_tree=data_test
data_test_tree["Survived"]=Prediction_tree
Prediction_tree_sub=data_test_tree[["PassengerId","Survived"]]
Prediction_tree_sub.to_csv(r'C:\Users\feche\Documents\Curso Python\datasets\Kaggle Titanic\predictions_tree.csv',index=False)

In [239]:
Prediction_tree_sub.groupby("Survived").count()

          PassengerId
Survived
0                 258
1                 160

## K Nearest Neighbors

In [252]:
import numpy as np
from sklearn import preprocessing, model_selection, neighbors

In [253]:
clf=neighbors.KNeighborsClassifier()

In [256]:
clf.fit(X_norm,Y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [257]:
accuracy=clf.score(X_norm,Y)
accuracy

0.8540965207631874

## Logistic Regression with different data cleaning

In [372]:
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
import numpy as np

In [373]:
data=pd.read_csv(r'C:\Users\feche\Documents\Curso Python\datasets\Kaggle Titanic\train.csv')
data_test=pd.read_csv(r'C:\Users\feche\Documents\Curso Python\datasets\Kaggle Titanic\test.csv')

In [374]:
data_train=data

In [375]:
print(pd.isnull(data_train["Age"]).values.ravel().sum())
print(pd.isnull(data_train["Embarked"]).values.ravel().sum())

177
2

In [376]:
mean=data_train["Age"].mean()
std=data_train["Age"].std()

data_train["Age"]=data_train["Age"].fillna(np.random.randint(mean - std, mean + std))
data_train["Embarked"]=data_train["Embarked"].fillna("S")

In [377]:
mean=data_test["Age"].mean()
std=data_test["Age"].std()

data_test["Age"]=data_train["Age"].fillna(np.random.randint(mean - std, mean + std))
data_test["Embarked"]=data_train["Embarked"].fillna("S")

In [378]:
print(pd.isnull(data_train["Age"]).values.ravel().sum())
print(pd.isnull(data_train["Embarked"]).values.ravel().sum())

0
0

In [379]:
data_train['Relatives']=data_train['SibSp']+data_train["Parch"]
data_test['Relatives']=data_test['SibSp']+data_test["Parch"]

In [380]:
data_train.loc[data_train['Relatives'] > 0, 'Travelled_alone'] = 'No'
data_train.loc[data_train['Relatives'] == 0, 'Travelled_alone'] = 'Yes'

data_test.loc[data_test['Relatives'] > 0, 'Travelled_alone'] = 'No'
data_test.loc[data_test['Relatives'] == 0, 'Travelled_alone'] = 'Yes'

In [381]:
data_train.columns.values

array(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Relatives',
       'Travelled_alone'], dtype=object)

In [382]:
data_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Relatives,Travelled_alone
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,No
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,No
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,Yes
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,No
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,Yes

In [383]:
#Sacar el deck por la cabina. Grupos son A,B,C,D,E,F,G,U
data_train["Cabin"]=data_train["Cabin"].fillna("U")
data_test["Cabin"]=data_test["Cabin"].fillna("U")

In [384]:
data_train['Deck'] = data_train['Cabin'].astype(str).str[0]
data_test['Deck'] = data_test['Cabin'].astype(str).str[0]

In [385]:
data_train['Deck'].unique()

array(['U', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [386]:
data_train=data_train.drop(["Cabin"],axis=1)
data_test=data_test.drop(["Cabin"],axis=1)

In [387]:
#PClass convertir a Class1, Class2, Class3
data_train.loc[data_train['Pclass'] == 1, 'Pclass'] = "Class1"
data_train.loc[data_train['Pclass'] == 2, 'Pclass'] = "Class2"
data_train.loc[data_train['Pclass'] == 3, 'Pclass'] = "Class3"

data_test.loc[data_test['Pclass'] == 1, 'Pclass'] = "Class1"
data_test.loc[data_test['Pclass'] == 2, 'Pclass'] = "Class2"
data_test.loc[data_test['Pclass'] == 3, 'Pclass'] = "Class3"

In [388]:
data_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Relatives,Travelled_alone,Deck
0,892,Class3,"Kelly, Mr. James",male,22.0,0,0,330911,7.8292,S,0,Yes,U
1,893,Class3,"Wilkes, Mrs. James (Ellen Needs)",female,38.0,1,0,363272,7.0000,C,1,No,U
2,894,Class2,"Myles, Mr. Thomas Francis",male,26.0,0,0,240276,9.6875,S,0,Yes,U
3,895,Class3,"Wirz, Mr. Albert",male,35.0,0,0,315154,8.6625,S,0,Yes,U
4,896,Class3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,35.0,1,1,3101298,12.2875,S,2,No,U

In [389]:
#Sacar Titulo de los nombres
#Age separarla en grupos

In [390]:
#Fare volverlo Int
data_train['Fare']=data_train['Fare'].fillna(0)
data_train['Fare']=data_train['Fare'].astype(int)

data_test['Fare']=data_test['Fare'].fillna(0)
data_test['Fare']=data_test['Fare'].astype(int)

In [391]:
#Separar Age en grupos
data_train.loc[data_train['Age'] <= 11, 'Age_Class'] = "Children"
data_train.loc[(data_train['Age'] > 11)&(data_train['Age'] <= 18), 'Age_Class'] = "Teen"
data_train.loc[(data_train['Age'] > 18)&(data_train['Age'] <= 22), 'Age_Class'] = "Youngster"
data_train.loc[(data_train['Age'] > 22)&(data_train['Age'] <= 27), 'Age_Class'] = "Young Adult"
data_train.loc[(data_train['Age'] > 27)&(data_train['Age'] <= 33), 'Age_Class'] = "Adult"
data_train.loc[(data_train['Age'] > 33)&(data_train['Age'] <= 40), 'Age_Class'] = "Middle Age"
data_train.loc[(data_train['Age'] > 40)&(data_train['Age'] <= 66), 'Age_Class'] = "Senior"
data_train.loc[data_train['Age'] > 66, 'Age_Class'] = "Retired"

data_test.loc[data_test['Age'] <= 11, 'Age_Class'] = "Children"
data_test.loc[(data_test['Age'] > 11)&(data_test['Age'] <= 18), 'Age_Class'] = "Teen"
data_test.loc[(data_test['Age'] > 18)&(data_test['Age'] <= 22), 'Age_Class'] = "Youngster"
data_test.loc[(data_test['Age'] > 22)&(data_test['Age'] <= 27), 'Age_Class'] = "Young Adult"
data_test.loc[(data_test['Age'] > 27)&(data_test['Age'] <= 33), 'Age_Class'] = "Adult"
data_test.loc[(data_test['Age'] > 33)&(data_test['Age'] <= 40), 'Age_Class'] = "Middle Age"
data_test.loc[(data_test['Age'] > 40)&(data_test['Age'] <= 66), 'Age_Class'] = "Senior"
data_test.loc[data_test['Age'] > 66, 'Age_Class'] = "Retired"

In [392]:
#Calcular el fare por persona
data_train['Fare_Per_Person'] = data_train['Fare']/(data_train['Relatives']+1)
data_train['Fare_Per_Person'] = data_train['Fare_Per_Person'].astype(int)
data_test['Fare_Per_Person'] = data_test['Fare']/(data_test['Relatives']+1)
data_test['Fare_Per_Person'] = data_test['Fare_Per_Person'].astype(int)

In [393]:
#Dividri el Fare en clases
data_train.loc[data_train['Fare'] <= 8, 'Fare_class'] = "Extremely Low"
data_train.loc[(data_train['Fare'] > 8)&(data_train['Fare'] <= 15), 'Fare_class'] = "Very Low"
data_train.loc[(data_train['Fare'] > 15)&(data_train['Fare'] <= 31), 'Fare_class'] = "Low"
data_train.loc[(data_train['Fare'] > 31)&(data_train['Fare'] <= 99), 'Fare_class'] = "High"
data_train.loc[(data_train['Fare'] > 99)&(data_train['Fare'] <= 250), 'Fare_class'] = "Very high"
data_train.loc[data_train['Fare'] > 250, 'Fare_class'] = "Extremely High"


data_test.loc[data_test['Fare'] <= 8, 'Fare_class'] = "Extremely Low"
data_test.loc[(data_test['Fare'] > 8)&(data_test['Fare'] <= 15), 'Fare_class'] = "Very Low"
data_test.loc[(data_test['Fare'] > 15)&(data_test['Fare'] <= 31), 'Fare_class'] = "Low"
data_test.loc[(data_test['Fare'] > 31)&(data_test['Fare'] <= 99), 'Fare_class'] = "High"
data_test.loc[(data_test['Fare'] > 99)&(data_test['Fare'] <= 250), 'Fare_class'] = "Very high"
data_test.loc[data_test['Fare'] > 250, 'Fare_class'] = "Extremely High"

In [394]:
data_test["Fare_class"].value_counts()

Extremely Low     149
Low                87
Very Low           82
High               69
Very high          23
Extremely High      8
Name: Fare_class, dtype: int64

In [395]:
data_train['Age']=data_train['Age'].astype(int)
data_test['Age']=data_test['Age'].astype(int)

In [396]:
data_train=data_train.drop('Ticket',axis=1)
data_test=data_test.drop('Ticket',axis=1)

In [397]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PassengerId      891 non-null    int64
 1   Survived         891 non-null    int64
 2   Pclass           891 non-null    object
 3   Name             891 non-null    object
 4   Sex              891 non-null    object
 5   Age              891 non-null    int32
 6   SibSp            891 non-null    int64
 7   Parch            891 non-null    int64
 8   Fare             891 non-null    int32
 9   Embarked         891 non-null    object
 10  Relatives        891 non-null    int64
 11  Travelled_alone  891 non-null    object
 12  Deck             891 non-null    object
 13  Age_Class        891 non-null    object
 14  Fare_Per_Person  891 non-null    int32
 15  Fare_class       891 non-null    object
dtypes: int32(3), int64(5), object(8)
memory usage: 101.1+ KB

In [398]:
numerical_data=['SibSp', 'Parch','Fare', 'Relatives', 'Age', 'Fare_Per_Person']

In [399]:
#Standarizacion de datos
ss_scaler = StandardScaler()
data_train_ss = pd.DataFrame(data = data_train)
data_train_ss[numerical_data] = ss_scaler.fit_transform(data_train_ss[numerical_data])
data_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked,Relatives,Travelled_alone,Deck,Age_Class,Fare_Per_Person,Fare_class
0,1,0,Class3,"Braund, Mr. Owen Harris",male,-0.695357,0.432793,-0.473674,-0.498948,S,0.059160,No,U,Youngster,-0.459218,Extremely Low
1,2,1,Class1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,0.496827,0.432793,-0.473674,0.789405,C,0.059160,No,C,Middle Age,0.434090,High
2,3,1,Class3,"Heikkinen, Miss. Laina",female,-0.397311,-0.474545,-0.473674,-0.498948,S,-0.560975,Yes,U,Young Adult,-0.347554,Extremely Low
3,4,1,Class1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,0.273293,0.432793,-0.473674,0.427056,S,0.059160,No,C,Middle Age,0.182847,High
4,5,0,Class3,"Allen, Mr. William Henry",male,0.273293,-0.474545,-0.473674,-0.478817,S,-0.560975,Yes,U,Middle Age,-0.319638,Extremely Low

In [400]:
#Standarizacion de datos test
ss_scaler = StandardScaler()
data_test_ss = pd.DataFrame(data = data_test)
data_test_ss[numerical_data] = ss_scaler.fit_transform(data_test_ss[numerical_data])
data_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked,Relatives,Travelled_alone,Deck,Age_Class,Fare_Per_Person,Fare_class
0,892,Class3,"Kelly, Mr. James",male,-0.645501,-0.499470,-0.400248,-0.503540,S,-0.553443,Yes,U,Youngster,-0.401204,Extremely Low
1,893,Class3,"Wilkes, Mrs. James (Ellen Needs)",female,0.567852,0.616992,-0.400248,-0.503540,C,0.105643,No,U,Middle Age,-0.513662,Extremely Low
2,894,Class2,"Myles, Mr. Thomas Francis",male,-0.342163,-0.499470,-0.400248,-0.467701,S,-0.553443,Yes,U,Young Adult,-0.344975,Very Low
3,895,Class3,"Wirz, Mr. Albert",male,0.340349,-0.499470,-0.400248,-0.485620,S,-0.553443,Yes,U,Middle Age,-0.373089,Extremely Low
4,896,Class3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,0.340349,0.616992,0.619896,-0.413943,S,0.764728,No,U,Middle Age,-0.485547,Very Low

In [401]:
#Variables Dummy Train
dummy_sex=pd.get_dummies(data_train["Sex"],prefix="Sex")
dummy_embarked=pd.get_dummies(data_train["Embarked"],prefix="Embarked")
dummy_Pclass=pd.get_dummies(data_train["Pclass"],prefix="Pclass")
dummy_age_class=pd.get_dummies(data_train["Age_Class"],prefix="Age_Class")
dummy_fare_class=pd.get_dummies(data_train["Fare_class"],prefix="Fare_class")
dummy_travelled_alone=pd.get_dummies(data_train["Travelled_alone"],prefix="Travelled_alone")
dummy_deck=pd.get_dummies(data_train["Deck"],prefix="Deck")
data_train=pd.concat([data_train,dummy_sex,dummy_embarked,dummy_Pclass,dummy_age_class,dummy_fare_class,dummy_travelled_alone,dummy_deck,dummy_deck],axis=1)
data_train.columns.values

array(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Fare', 'Embarked', 'Relatives', 'Travelled_alone',
       'Deck', 'Age_Class', 'Fare_Per_Person', 'Fare_class', 'Sex_female',
       'Sex_male', 'Embarked_C', 'Embarked_Q', 'Embarked_S',
       'Pclass_Class1', 'Pclass_Class2', 'Pclass_Class3',
       'Age_Class_Adult', 'Age_Class_Children', 'Age_Class_Middle Age',
       'Age_Class_Retired', 'Age_Class_Senior', 'Age_Class_Teen',
       'Age_Class_Young Adult', 'Age_Class_Youngster',
       'Fare_class_Extremely High', 'Fare_class_Extremely Low',
       'Fare_class_High', 'Fare_class_Low', 'Fare_class_Very Low',
       'Fare_class_Very high', 'Travelled_alone_No',
       'Travelled_alone_Yes', 'Deck_A', 'Deck_B', 'Deck_C', 'Deck_D',
       'Deck_E', 'Deck_F', 'Deck_G', 'Deck_T', 'Deck_U', 'Deck_A',
       'Deck_B', 'Deck_C', 'Deck_D', 'Deck_E', 'Deck_F', 'Deck_G',
       'Deck_T', 'Deck_U'], dtype=object)

In [402]:
#Variables Dummy test
dummy_sex=pd.get_dummies(data_test["Sex"],prefix="Sex")
dummy_embarked=pd.get_dummies(data_test["Embarked"],prefix="Embarked")
dummy_Pclass=pd.get_dummies(data_test["Pclass"],prefix="Pclass")
dummy_age_class=pd.get_dummies(data_test["Age_Class"],prefix="Age_Class")
dummy_fare_class=pd.get_dummies(data_test["Fare_class"],prefix="Fare_class")
dummy_travelled_alone=pd.get_dummies(data_test["Travelled_alone"],prefix="Travelled_alone")
dummy_deck=pd.get_dummies(data_test["Deck"],prefix="Deck")
data_test=pd.concat([data_test,dummy_sex,dummy_embarked,dummy_Pclass,dummy_age_class,dummy_fare_class,dummy_travelled_alone,dummy_deck,dummy_deck],axis=1)
data_test.columns.values

array(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Fare', 'Embarked', 'Relatives', 'Travelled_alone', 'Deck',
       'Age_Class', 'Fare_Per_Person', 'Fare_class', 'Sex_female',
       'Sex_male', 'Embarked_C', 'Embarked_Q', 'Embarked_S',
       'Pclass_Class1', 'Pclass_Class2', 'Pclass_Class3',
       'Age_Class_Adult', 'Age_Class_Children', 'Age_Class_Middle Age',
       'Age_Class_Retired', 'Age_Class_Senior', 'Age_Class_Teen',
       'Age_Class_Young Adult', 'Age_Class_Youngster',
       'Fare_class_Extremely High', 'Fare_class_Extremely Low',
       'Fare_class_High', 'Fare_class_Low', 'Fare_class_Very Low',
       'Fare_class_Very high', 'Travelled_alone_No',
       'Travelled_alone_Yes', 'Deck_A', 'Deck_B', 'Deck_C', 'Deck_D',
       'Deck_E', 'Deck_F', 'Deck_G', 'Deck_U', 'Deck_A', 'Deck_B',
       'Deck_C', 'Deck_D', 'Deck_E', 'Deck_F', 'Deck_G', 'Deck_U'],
      dtype=object)

## Regresion Logistica con mas datos

In [403]:
from sklearn import linear_model

In [404]:
X=data_train[['Age', 'SibSp', 'Parch','Relatives','Fare_Per_Person', 'Sex_female', 'Sex_male',
              'Embarked_C','Embarked_Q', 'Embarked_S', 'Pclass_Class1','Pclass_Class2', 'Pclass_Class3',
              'Age_Class_Adult','Age_Class_Children', 'Age_Class_Middle Age', 'Age_Class_Retired','Age_Class_Senior',
              'Age_Class_Teen','Age_Class_Young Adult','Age_Class_Youngster', 'Fare_class_Extremely High',
              'Fare_class_Extremely Low', 'Fare_class_High', 'Fare_class_Low','Fare_class_Very Low',
              'Fare_class_Very high','Travelled_alone_No', 'Travelled_alone_Yes', 'Deck_A', 'Deck_B','Deck_C',
              'Deck_D', 'Deck_E', 'Deck_F', 'Deck_G', 'Deck_U','Deck_A', 'Deck_B', 'Deck_C', 'Deck_D', 'Deck_E',
              'Deck_F','Deck_G', 'Deck_U']]
Y=data_train["Survived"]

In [405]:
logit_model=linear_model.LogisticRegression()

In [406]:
logit_model.fit(X,Y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [407]:
logit_model.score(X,Y)

0.8249158249158249

In [408]:
X_test=data_test[['Age', 'SibSp', 'Parch','Relatives','Fare_Per_Person', 'Sex_female', 'Sex_male',
              'Embarked_C','Embarked_Q', 'Embarked_S', 'Pclass_Class1','Pclass_Class2', 'Pclass_Class3',
              'Age_Class_Adult','Age_Class_Children', 'Age_Class_Middle Age', 'Age_Class_Retired','Age_Class_Senior',
              'Age_Class_Teen','Age_Class_Young Adult','Age_Class_Youngster', 'Fare_class_Extremely High',
              'Fare_class_Extremely Low', 'Fare_class_High', 'Fare_class_Low','Fare_class_Very Low',
              'Fare_class_Very high','Travelled_alone_No', 'Travelled_alone_Yes', 'Deck_A', 'Deck_B','Deck_C',
              'Deck_D', 'Deck_E', 'Deck_F', 'Deck_G', 'Deck_U','Deck_A', 'Deck_B', 'Deck_C', 'Deck_D', 'Deck_E',
              'Deck_F','Deck_G', 'Deck_U']]

In [409]:
data_test['Survived']=logit_model.predict(X_test)

In [410]:
Predictions=data_test[['PassengerId','Survived']]

In [411]:
Predictions.to_csv(r'C:\Users\feche\Documents\Curso Python\datasets\Kaggle Titanic\predictions_LR_more_data.csv',index=False)

## Random Forest with new data cleaning

In [415]:
from sklearn.ensemble import RandomForestClassifier

In [447]:
forest=RandomForestClassifier(n_jobs=100, oob_score=True, n_estimators=1000)
forest.fit(X,Y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=100, oob_score=True, random_state=None, verbose=0,
                       warm_start=False)

In [448]:
random_forest_pred=forest.predict(X_test)

In [449]:
forest.oob_score_

0.8035914702581369

In [450]:
data_test_random_forest=data_test
data_test_random_forest["Survived"]=random_forest_pred
Predictions_random_forest=data_test_random_forest[["PassengerId","Survived"]]
Predictions_random_forest.to_csv(r'C:\Users\feche\Documents\Curso Python\datasets\Kaggle Titanic\predictions_random_forest_more_data.csv',index=False)

## Decision Tree

In [424]:
from sklearn.tree import DecisionTreeClassifier

In [439]:
tree=DecisionTreeClassifier(criterion="entropy", min_samples_split=5)
tree.fit(X,Y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=5,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [440]:
tree.score(X,Y)

0.9438832772166106

In [441]:
Prediction_tree=tree.predict(X_test)

In [442]:
data_test_tree=data_test
data_test_tree["Survived"]=Prediction_tree
Prediction_tree_sub=data_test_tree[["PassengerId","Survived"]]
Prediction_tree_sub.to_csv(r'C:\Users\feche\Documents\Curso Python\datasets\Kaggle Titanic\predictions_tree_more_data.csv',index=False)

In [443]:
Prediction_tree_sub["Survived"].value_counts()

0    262
1    156
Name: Survived, dtype: int64